.textinput{

    padding: 30px 10px ;
    display: flex;
    flex-direction: row;
    width: fit-content;
    text-align: start;
    justify-content: space-evenly;
    width: 100vh;
    height: fit-content;
    font-family: 'Segoe UI';
    font-size: 17px;
    background-color: rgb(7, 42, 71);
    color: aliceblue;
    margin: 10px;
    height: 10vh;
    align-items: center;
}
.option{
    background-color: aliceblue;
    color: aliceblue;
    padding: 10px 10px;
    width: fit-content;
}
.inputnumber{
    
    background-color: lightblue;
    width: fit-content;
}

.select{
    width: fit-content;
}