
.inputsPage {
  background-color: rgb(4, 21, 36);
  margin: 0;
  padding-top: 1px;
}

.titleInputs {
  color: aliceblue;
  font-family: "Segoe UI";
  font-weight: 600;
  font-size: 24px;
  margin-left: 5rem;
}

.inputsContent {
  background-color: rgb(242, 251, 250);
  min-height: calc(100vh - 104px);
  border-radius: 20px 20px 0 0;
  padding: 1px 35px 50px 35px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  animation-name: slideup;
  animation-duration: 1s;
}

.subtopicContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 1.3rem;
  flex-wrap: wrap;
  gap: 30px;
}

.localInputsButton {
  font-size: 20px;
  font-weight: 700;
  height: fit-content;
  width: fit-content;
  background-color: rgb(7, 42, 71);
  color: white;
  padding: 0.8rem 4rem;
  margin-top: 25px;
  align-self: flex-end;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
}

.localInputsButton:hover{
  .steerIcon{
    transform: rotate(80deg);
    transition: ease-in 0.1s;
  }
}

@keyframes slideup {
  from {
    transform: translateY(100vh);
  }

  to {
    transform: translateY(0);
  }
}
